{% extends 'base.html.twig' %}
{% block body %}
<br>
<input type="button" value="Go Back" onclick="history.back(-1)"  class="btn btn-default" />
<br>
    <div class="col-lg-2">
{{ form_start(form) }}
    {{ form_widget(form) }}

<input type="submit" value="Assign"
       class="btn btn-default pull-right" />
{{ form_end(form) }}
    </div>

{% if app.session.flashBag.has('assignSuccess') %}
    <div class="col-lg-2 alert-success bagError">
        {% for msg in app.session.flashBag.get('assignSuccess') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}