<!DOCTYPE html>
<html>
<head>
    {% if form is defined %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% endif %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/discipline/css/style.css') }}" />
    <meta charset="UTF-8" />
    <title>{% block title %}Intranet{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>