{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="row">
    <br>
    <input type="button" value="Go Back" onclick="history.back(-1)"  class="btn btn-default" />
    <br>
    <h1>Students</h1>
    <a href="{{ path('discipline_assign_teacher') }}"><button class="btn btn-default">Assign</button></a><br><br>
    <table class="table table-sm">
        <tbody>
        {% for user in userByRole %}
            <tr>
                <th>Name</th>
                <td>{{ user.username}}</td>
                <td><a href="{{ path('admin_discipline_student',{'id': user.id}) }}">show Disciplines</a></td>
                <td><a href="{{ path('admin_discipline_student_grades',{'student_id': user.id}) }}">show Grades</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table><br>
{% endblock %}