{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">

        <h1>Discipline</h1>
        <table class="table table-sm">
            <tbody>
            {% for disciplines in discipline %}
                <tr>
                    <th>Name</th>
                    <td>{{ disciplines.name}}</td>
                    <td><a href="{{ path('discipline_delete',{'id': disciplines.id}) }}">DELETE</a></td>
                    <td><a href="{{ path('discipline_edit',{'discipline_id': disciplines.id}) }}">EDIT</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table><br>
{% endblock %}