{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="row">

    <h1>Discipline : </h1>
    <table class="table table-sm">
        <tbody>
        {% for users in disciplineStudent %}
            <tr>
                <th>FirstName</th>
                <td>{{ users.username}}</td>
             </tr>
        {% endfor %}


        </tbody>
    </table><br>
{% endblock %}