{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="row">
    <br>
    <input type="button" value="Go Back" onclick="history.back(-1)"  class="btn btn-default" />
    <br>
    <h1>Disciplines</h1>
    <table class="table table-sm">
        <tbody>
        {% for disciplines in discipline %}
            <tr>
                <th>Name</th>
                <td>{{ disciplines.name}}</td>
                <td><a href="{{ path('show_discipline_student',{'id': disciplines.id})}}">Show Students</a></td>
                <td><a href="{{ path('project_create',{'discipline_id': disciplines.id})}}">Create Project</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
{% endblock %}